<div class="container mt-5 pt-5">
	<h6 class="mt-5 pt-5 fw-bold mb-4">@(Model.Status ? Model.Data : Model.Message)</h6>
	<a asp-area="" asp-controller="Customer" asp-action="Index"><div class="mt-4 fs-4 fw-bold">Go back</div></a>
</div>